.btn{
    width: 100%;
display: flex;
justify-content: center;
background-color: #3b5998;

}
.btn input{
    background-color: #3b5998;
}
p{
    font-weight: 700;
    font-size: 18px;
  text-decoration-line: none;
}
h1{
    font-weight: 900;
}